<!DOCTYPE html>
<HTML lang="fa">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>تست بوت استرپ</title>

        <link href="../media/css/bootstrap.min.css" rel="stylesheet">
        <link href="../media/css/bootstrap-rtl.min.css" rel="stylesheet">
    </head>
    <body>
        <h1>
            با عرض سلام
        </h1>
        <span class="label label-danger col-sm-5 col-md-5">salam</span>
        <span class="label label-warning col-sm-7 col-md-7">aleyk</span>
    </body>
</HTML>